In [1]:
import pandas as pd
import numpy as np
import datetime as dt
# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [2]:
df=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
import seaborn as sns
sns.pairplot(df)

In [5]:
from pycaret.classification import *

In [6]:
exp_clf101 = setup(data = df
                   , target = 'Loan_Status', session_id=123,normalize=True,
                    train_size=0.6,
                   ignore_features=['CoapplicantIncome'],
                    normalize_method='zscore',
                    remove_outliers=True,
                    outliers_threshold=0.05,
                                        
                   )

Setup Succesfully Completed!

In [7]:
compare_models()

In [14]:


rf= create_model('lr',ensemble=True,method='Bagging')

# s=create_model('lda',ensemble=True,method='Bagging',fold=15)

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9429  0.9000  1.0000  0.9259  0.9615  0.8511
1       0.7143  0.6742  0.9583  0.7188  0.8214  0.1745
2       0.7714  0.7348  1.0000  0.7500  0.8571  0.3396
3       0.7143  0.8182  0.9167  0.7333  0.8148  0.2222
4       0.8857  0.9167  0.9583  0.8846  0.9200  0.7211
5       0.7714  0.7955  1.0000  0.7500  0.8571  0.3396
6       0.7714  0.7311  0.9167  0.7857  0.8462  0.4118
7       0.7714  0.8144  0.9583  0.7667  0.8519  0.3778
8       0.8857  0.8333  1.0000  0.8571  0.9231  0.7059
9       0.8529  0.8000  1.0000  0.8276  0.9057  0.5854
Mean    0.8082  0.8018  0.9708  0.8000  0.8759  0.4729
SD      0.0743  0.0708  0.0325  0.0666  0.0461  0.2172

In [11]:
cb = create_model('rbfsvm')
# b = create_model('xgboost',ensemble=True,method='Bagging')

      Accuracy     AUC  Recall   Prec.      F1  Kappa
0       0.7143  0.9560     1.0  0.7143  0.8333    0.0
1       0.6857  0.6136     1.0  0.6857  0.8136    0.0
2       0.6857  0.7879     1.0  0.6857  0.8136    0.0
3       0.6857  0.7538     1.0  0.6857  0.8136    0.0
4       0.6857  0.8864     1.0  0.6857  0.8136    0.0
5       0.6857  0.7955     1.0  0.6857  0.8136    0.0
6       0.6857  0.6970     1.0  0.6857  0.8136    0.0
7       0.6857  0.8409     1.0  0.6857  0.8136    0.0
8       0.6857  0.8447     1.0  0.6857  0.8136    0.0
9       0.7059  0.8542     1.0  0.7059  0.8276    0.0
Mean    0.6906  0.8030     1.0  0.6906  0.8169    0.0
SD      0.0099  0.0927     0.0  0.0099  0.0069    0.0

In [15]:
ens_cb=ensemble_model(rf, n_estimators=50, method='Bagging')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9429  0.9320  1.0000  0.9259  0.9615  0.8511
1       0.7143  0.6591  0.9583  0.7188  0.8214  0.1745
2       0.7714  0.7311  1.0000  0.7500  0.8571  0.3396
3       0.7429  0.8182  0.9583  0.7419  0.8364  0.2792
4       0.8857  0.9015  0.9583  0.8846  0.9200  0.7211
5       0.7714  0.7992  1.0000  0.7500  0.8571  0.3396
6       0.7714  0.7311  0.9167  0.7857  0.8462  0.4118
7       0.7714  0.8182  0.9583  0.7667  0.8519  0.3778
8       0.8571  0.8371  1.0000  0.8276  0.9057  0.6220
9       0.8529  0.7875  1.0000  0.8276  0.9057  0.5854
Mean    0.8082  0.8015  0.9750  0.7979  0.8763  0.4702
SD      0.0686  0.0770  0.0276  0.0639  0.0421  0.2035

In [18]:
predict_model(rf)

                Model  Accuracy     AUC  Recall  Prec.      F1   Kappa
0  Bagging Classifier    0.8162  0.7056  0.9753  0.802  0.8802  0.5013

,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Self_Employed_not_available,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status,Label,Score
0,-0.280380,-0.636094,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6304
1,-0.448465,-0.302637,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.8229
2,0.294319,-0.314547,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7434
3,-0.448301,-0.743276,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.6718
4,0.138685,0.757277,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.8988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,-0.328381,-0.421729,-2.518655,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.9107
230,1.942892,0.935915,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1,1,0.6863
231,-0.597054,-0.183546,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.8989
232,-0.534965,-0.564639,0.279851,-2.410441e+00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0.0711
233,0.479933,1.590918,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.7026

In [39]:
predict_model(tune_b)

                 Model  Accuracy     AUC  Recall  Prec.      F1   Kappa
0  Logistic Regression    0.8205  0.7114  0.9815  0.803  0.8833  0.5108

,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Self_Employed_not_available,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status,Label,Score
0,-0.280380,-0.636094,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6109
1,-0.448465,-0.302637,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.8288
2,0.294319,-0.314547,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7261
3,-0.448301,-0.743276,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.6677
4,0.138685,0.757277,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.9152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,-0.328381,-0.421729,-2.518655,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.9155
230,1.942892,0.935915,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1,1,0.7081
231,-0.597054,-0.183546,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.9190
232,-0.534965,-0.564639,0.279851,-2.410441e+00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0.0740
233,0.479933,1.590918,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.7594

In [ ]:
# blendmodel=blend_models(estimator_list=[rf,s,b,cb] )

In [19]:
evaluate_model(ens_cb)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [38]:
 tune_b=tune_model('lr', n_iter=25, fold=20)

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.8889  0.8154  1.0000  0.8667  0.9286  0.6842
1       0.9444  0.8333  1.0000  0.9231  0.9600  0.8696
2       0.6667  0.6806  0.9167  0.6875  0.7857  0.1000
3       0.7778  0.6944  1.0000  0.7500  0.8571  0.4000
4       0.7778  0.7222  1.0000  0.7500  0.8571  0.4000
5       0.7222  0.7778  1.0000  0.7059  0.8276  0.2105
6       0.7222  0.8056  0.9167  0.7333  0.8148  0.2857
7       0.8333  0.7639  1.0000  0.8000  0.8889  0.5714
8       0.8889  0.8889  1.0000  0.8571  0.9231  0.7273
9       0.7647  0.8000  1.0000  0.7500  0.8571  0.2609
10      0.7647  0.8833  1.0000  0.7500  0.8571  0.2609
11      0.7647  0.6167  1.0000  0.7500  0.8571  0.2609
12      0.8235  0.8833  0.9167  0.8462  0.8800  0.5487
13      0.7647  0.5333  0.9167  0.7857  0.8462  0.3585
14      0.8824  0.8333  0.9167  0.9167  0.9167  0.7167
15      0.7647  1.0000  1.0000  0.7500  0.8571  0.2609
16      0.8235  0.7167  1.0000  0.8000  0.8889  0.4848
17      0.8824  0.9167  1.0000  0.8571  0.9231  0.6792
18      0.8824  0.9333  1.0000  0.8571  0.9231  0.6792
19      0.7647  0.6000  1.0000  0.7500  0.8571  0.2609
Mean    0.8052  0.7849  0.9792  0.7943  0.8753  0.4510
SD      0.0697  0.1175  0.0361  0.0664  0.0425  0.2132

In [ ]:
blendmodel=blend_models(estimator_list=[tune_kn,tune_rf,tune_s,tune_cb],fold=10)

In [20]:
final=finalize_model(ens_cb)

In [21]:
predict_model(final)

                Model  Accuracy     AUC  Recall  Prec.      F1   Kappa
0  Bagging Classifier    0.8162  0.9222  0.9815  0.799  0.8809  0.4968

,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Self_Employed_not_available,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status,Label,Score
0,-0.280380,-0.636094,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6543
1,-0.448465,-0.302637,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.8540
2,0.294319,-0.314547,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7614
3,-0.448301,-0.743276,0.279851,3.177548e-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.7125
4,0.138685,0.757277,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.9244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,-0.328381,-0.421729,-2.518655,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1,0.7753
230,1.942892,0.935915,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1,1,0.7128
231,-0.597054,-0.183546,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.9247
232,-0.534965,-0.564639,0.279851,-2.410441e+00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,0,0.1018
233,0.479933,1.590918,0.279851,4.516405e-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1,0.7914

In [ ]:
plot_model(rf, plot = 'confusion_matrix')

In [23]:
d=predict_model(estimator=final,data=test)

In [24]:
d

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Label,Score
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1,0.8700
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1,0.8229
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1,0.8675
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,1,0.8395
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1,0.7413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,1,0.7640
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,1,0.8703
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,1,0.7918
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,1,0.8311
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,1,0.7598

In [30]:
submission=d[['Loan_ID','Label']]

In [31]:
submission

      Loan_ID  Label
0    LP001015      1
1    LP001022      1
2    LP001031      1
3    LP001035      1
4    LP001051      1
..        ...    ...
362  LP002971      1
363  LP002975      1
364  LP002980      1
365  LP002986      1
366  LP002989      1

[367 rows x 2 columns]

In [32]:
dic={1:'Y', 0:'N'}
submission['Loan_Status']=pd.DataFrame(submission['Label'].map(dic))

In [35]:
submission.drop(['Label'],axis=1,inplace=True)

In [36]:
submission

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [37]:
submission.to_csv('st_to_comp.csv',index =False)